<h1>People</h1>

<%= link_to 'Add New Person', new_person_path, {:class => "btn btn-success pull-right"} %>

<table class="table table-bordered table-condensed table-striped">
  <tr>
    <th>Name</th>
    <th>Action</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td>
    	<%= link_to 'Show', person, {:class => "btn btn-info"} %> 
    	<%= link_to 'Edit', edit_person_path(person), {:class => "btn btn-primary"} %> 
    	<%= link_to 'Delete', person, :class => "btn btn-danger", :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>