<% @page_title = "User list" %>

<h1>User Management</h1>

<%= link_to "+ New User", new_user_path, :class => "btn btn-success pull-right add-link" %>


<table cellpadding="5" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped">
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Username</th>
		<th>Email</th>
		<th>Action</th>
	</thead>
	<tbody>
		<% @users.each do |user|  %>
		<tr>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
			<td>
				<%= link_to("View", user, {:class => "btn btn-info"}) %>
				<%= link_to("Edit", edit_user_path(user), {:class => "btn btn-primary"}) %>
				<%= link_to("Delete", delete_user_path(user), {:class => "btn btn-danger"}) %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= paginate @users %>