<h1>User Management</h1>

<%= link_to("Add user", :action => "new") %>


<table cellpadding="5" cellspacing="0" border="0">
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Username</th>
		<th>Email</th>
		<th>Action</th>
	</thead>
	<tbody>
		<% @users.each do |user|  %>
		<tr>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
			<td>
				<%= link_to("View", user) %> |
				<%= link_to("Edit", edit_user_path(user)) %> |
				<%= link_to("Delete", delete_user_path(user)) %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>