<%= error_message_for_form @transaction %>

<%= form_for @transaction, :html => {:class => "form-horizontal"} do |f| %>
  <div class="control-group">
  	<%= f.label :description, :class =>"control-label" %>
  	<div class="controls"><%= f.text_area :description, :rows => 5, :class =>"input-xlarge" %></div>
  </div>
  <div class="control-group">
    <%= f.label :from, :class =>"control-label" %>
    <% 
    	person_array = Person.where(:user_id => current_user.id).map{ |person|
    		[person.name, person.id]
    	} 
    %>
    <div class="controls"><%= f.select :from, person_array%></div>
  </div>
  <div class="control-group">
    <%= f.label :to, :class =>"control-label" %>
    <div class="controls"><%= f.select :to, person_array%></div>
  </div>
  <div class="control-group">
    <%= f.label :amount, :class =>"control-label" %>
    <div class="controls"><%= f.text_field :amount %></div>
  </div>  
  <div class="control-group">
    <%= f.label :is_paid, :class =>"control-label" %>
    <div class="controls"><%= f.check_box :is_paid %></div>
  </div>  
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-actions">
    <%= f.submit :class => "btn-primary" %>
  </div>
<% end %>
