<h1>Listing transactions</h1>

<p><%= link_to 'New Transaction', new_transaction_path, {:class => "btn btn-success pull-right"} %></p>

<table class="table table-bordered table-condensed table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>From</th>
    <th>To</th>
    <th>Amount</th>
    <th>Action</th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.title %></td>
    <td><%= transaction.description %></td>
    <td><%= transaction.from_name %></td>
    <td><%= transaction.to_name %></td>
    <td><%= transaction.amount %></td>
    <td>
    	<%= link_to 'Show', transaction, {:class => "btn btn-info"} %> 
    	<%= link_to 'Edit', edit_transaction_path(transaction), {:class => "btn btn-primary"} %>
    	<%= link_to 'Delete', transaction, :class => "btn btn-danger", :confirm => 'Are you sure?', :method => :delete %>
    	<% if transaction.is_paid? %>
    		<%= link_to 'Make it due', transaction, :class => "btn"%>
    	<% else %>
    		<%= link_to 'Make it paid', transaction, :class => "btn"%>
    	<% end %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @transactions %>
