<p>
  <b>Title:</b>
  <%= @transaction.title %>
</p>

<p>
  <b>Description:</b>
  <%= @transaction.description %>
</p>

<p>
  <b>From:</b>
  <%= @transaction.from %>
</p>

<p>
  <b>To:</b>
  <%= @transaction.to %>
</p>

<p>
  <b>Amount:</b>
  <%= @transaction.amount %>
</p>

<p>
  <b>Paid:</b>
  <%= @transaction.is_paid %>
</p>


<%= link_to 'Edit', edit_transaction_path(@transaction), :class => "btn btn-info" %>
<%= link_to 'Back', transactions_path, :class => "btn" %>
