<%
#raise @user_gave.inspect
gtotal = ttotal = 0
%>
<h3>People took from me</h3>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>To</th>
			<th>Purpose</th>
			<th>Amount</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	<% @user_gave.each do |g| %>	
		<tr>
			<td><%= g.to_name %></td>
			<td><%= g.description %></td>
			<td><%= g.amount %></td>
			<td>&nbsp;</td>
		</tr>
		<% gtotal += g.amount %>
	<% end %>
		<tr>
			<td colspan="3">Total given</td>
			<td><%= gtotal %></td>
		</tr>
	</tbody>
</table>
 
 <%= paginate @user_gave %>
 
<h3>I took from people</h3>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>From</th>
			<th>Purpose</th>
			<th>Amount</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	<% @user_took.each do |t| %>
		<tr>
			<td><%= t.from_name %></td>
			<td><%= t.description %></td>
			<td><%= t.amount %></td>
			<td>&nbsp;</td>
		</tr>
		<% ttotal += t.amount %>
	<% end %>
		<tr>
			<td colspan="3">Total taken</td>
			<td><%= ttotal %></td>
		</tr>
	</tbody>
</table>
 <%= paginate @user_took %>