<!DOCTYPE html>
<html>
	<head>
		<title>Loanager | <%= @page_title %></title>
		<%= stylesheet_link_tag "styles", :media => "all" %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div class="message">
			<% if flash[:notice] %>
			<%= flash[:notice]%>
			<% end %>
		</div>
		<%= yield %>
	</body>
</html>
